/* GENERAL SETTINGS */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f0f1f1;
}

/* HEADER */

#header {
    background-color: white;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu {
    margin-right: 30px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

#logo {
    margin-left: 30px;
    color: #459e85;
}
#bookings {
    margin: 20 px;
}

/* MAIN */

#title {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
    color: white;
    font-size: 20px;
}

#title > h3 {
    margin-top: 20px;
}

main {
    background-image: url("./images/background.jpg");
    height: calc(100vh - 80px);
    background-position: center center;
    background-size: cover;
}

#main-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* LEFT CARD */

#left-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    border-radius: 10px;
    height: 400px;
    width: 300px;
    padding: 20px;
}

#input-text {
    display: flex;
    flex-direction: column;
}

.inputcard {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
    background-color: #f0f1f1;
    border: none;
}

#departure,
#arrival {
    margin-bottom: 2px;
    box-shadow: 0px 0px 1px 1px #dfe1e5;
}

#infos {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 70%;
    justify-content: space-between;
}

#searchButton {
    background-color: #459e85;
    color: white;
    font-size: 16px;
    border: none;
}

/* RIGHT CARD */

#right-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    border-radius: 10px;
    height: 400px;
    width: 300px;
    padding: 20px;
    overflow:scroll;
    overflow-x:hidden;
}

.tripRow{
    display: flex;
    background-color: #f0f1f1;
    margin-bottom: 8px;
}

.trip-info{

}

/* RESPONSIVE */

@media (max-width: 730px) {
    #left-card,
    #right-card {
        width: 70%; /* rend les cartes pleine largeur */
        margin: 50px;
    }
    #main-container {
        flex-direction: column; /* rend les cartes en colonne */
        margin: 30px;
    }
    main {
      background-image: url("./images/background.jpg");
      background-repeat: repeat-y; /* répéter l'image sur l'axe des y */
      background-size: 100% 100%; /* étendre l'image à 100% de la hauteur et de la largeur de la section */
      height: 100vh; /* mettre la hauteur à 100% de la hauteur de l'écran */
  }
}
